@media screen and (max-width: 768px) {
  #navbar {
    display: none;
  }

  .logo{
    font-size: 18px;
  }

  #hamburger-nav {
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
  }

  .projects {
    display: inline-grid;
    justify-content: space-around;
    grid-template-columns: repeat(1, 70%);
    margin: 1rem;
  }

  .tweets {
    color: var(--main-white);
    display: inline-grid;
    justify-content: space-around;
    grid-template-columns: repeat(1, 70%);
    margin: 0.7rem;
  }


  .intro{
    margin-top: 40px;
  }

  .calender img{
    width: 340px;
  }
}
